section {
  display: flex;
  padding: 0 40px;
}

.watch-video {
  min-width: 70%;
  margin-right: 20px;
}

#videoContainer {
  position: relative;
  video {
    width: 100%;
  }
  #videoControls {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba($color: #000000, $alpha: 0.6);
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    &.showing {
      opacity: 1;
    }
    .videoControls__column {
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      #timeline {
        width: 100%;
      }
    }
    .videoControls__column:last-child {
      padding: 10px 30px;
      .videoControls__column--controls:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  button {
    border: none;
    background: none;
    color: white;
    font-size: 1.5rem;
  }
  video,
  button,
  input {
    cursor: pointer;
  }
}

.video_description {
  margin-top: 10px;
  line-height: 1.4;
  .video_description__column:first-child {
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);
    padding: 20px 0;
    p {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }
    small {
      font-size: 0.9rem;
      color: #aaaaaa;
    }
  }
  .video_description__column:nth-child(2) {
    padding: 20px 0;
    display: flex;
    align-items: center;
    .video_description__column--image {
      flex-grow: 1;
      a {
        display: inline-flex;
        align-items: center;
      }
      .avatar {
        margin-right: 10px;
        width: 50px;
        height: 50px;
      }
    }
  }
  .video_description__column:last-child {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);
    .video__edit {
      color: seagreen;
    }
    .video__delete {
      color: $red;
    }
  }
}

.watch-videos {
  flex-grow: 1;
  li {
    margin-bottom: 20px;
    a {
      display: flex;
      .video-tumbnail {
        min-width: 43%;
        width: 43%;
        background-color: blue;
        height: 100px;
      }
      .watch-video__info {
        padding: 5px;
      }
      .watch-video__info__column:first-child {
        color: #ffffff;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 20px;
      }
      .watch-video__info__column:last-child {
        font-size: 0.8rem;
        color: #aaaaaa;
        line-height: 1.5;
      }
    }
  }
}

.video__comments-wrapper {
  padding: 20px 0;
  color: #ffffff;
  .video__comments--length {
    margin-bottom: 20px;
  }
  .video__comment-form {
    all: unset;
    display: flex;
    .video__comments--avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 20px;
    }
    .video__comment-form__column:last-child {
      display: flex;
      flex-direction: column;
      width: 100%;
      input {
        all: unset;
        width: 100%;
        padding: 10px 0;
        border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0.1);
        margin-bottom: 10px;
        transition: border 0.3s ease-in-out;
        &:focus {
          border-bottom: 2px solid rgba($color: #000000, $alpha: 1);
        }
      }
      button {
        border: none;
        color: #aaaaaa;
        background-color: #ffffff1a;
        border-radius: 2px;
        width: 70px;
        align-self: end;
        padding: 10px 20px;
        margin-bottom: 20px;
      }
    }
  }

  .video__comment-wrapper {
    display: flex;
    margin-bottom: 20px;
    .video__comments--avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 20px;
    }
    .video__comment__column:nth-child(2) {
      flex-grow: 1;
      .video__comment-owner {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        div:first-child {
          margin-right: 5px;
        }
        div:last-child {
          color: #aaaaaa;
          font-size: 0.8rem;
          line-height: 5px;
        }
      }
    }
    .video__comment__column:last-child {
      opacity: 0;
      display: flex;
      align-items: center;
    }
    &:hover {
      .video__comment__column:last-child {
        cursor: pointer;
        opacity: 1;
        &:hover {
          color: $red;
        }
      }
    }
  }
}
