extends base

block content 
  if errorMessage 
    p=errorMessage
  form(method="POST")
    input(type="password",name="OldPassword",placeholder="Old Password")
    input(type="password",name="newPassword",placeholder="New Password")
    input(type="password",name="newPasswordConfirmation",placeholder="New password confirmation") 
    input(type="submit", value="Change Password")