/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__logo {
  color: #ff1300;
  font-size: 36px;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li {
  margin-left: 30px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
header ul i {
  font-size: 16px;
}
header .header__btn {
  background-color: white;
  color: #191919;
  padding: 5px 10px;
  border-radius: 5px;
}
header .header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

footer {
  text-align: center;
  font-style: 12px;
  opacity: 0.8;
  padding: 50px;
}

.video-mixin .video-mixin__thumb {
  height: 140px;
  border-radius: 7px;
  width: 100%;
  min-width: 200px;
  background-color: ivory;
}
.video-mixin .video-mixin__data {
  padding: 0 15px;
}
.video-mixin .video-mixin__data .video-mixin__title {
  font-size: 18px;
  display: block;
  margin-top: 10px;
}
.video-mixin .video-mixin__data .video-mixin__meta {
  margin-top: 5px;
  font-size: 12px;
}

.empty__message {
  margin-bottom: 50px;
  font-style: 18px;
}

.video-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.auth-switch {
  text-align: center;
  margin-top: 40px;
}
.auth-switch a {
  text-decoration: underline;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

form {
  max-width: 420px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

input:not(input[type=range]) {
  all: unset;
  margin-bottom: 5px;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
  font-size: 16px;
  color: white;
  width: 90%;
}
input:not(input[type=range])::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.social__btn,
input[type=submit] {
  width: 90%;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: white;
  color: rgba(255, 19, 0, 0.9);
  text-align: center;
  cursor: pointer;
  display: block;
}

.social__login {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 40px;
  margin-top: 30px;
}
.social__login .social__btn--github {
  background-color: transparent;
  color: azure;
}

.video-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}

.search__form {
  padding: 0;
  background-color: none;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.search__form input {
  all: unset;
  margin-bottom: 5px;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
  font-size: 16px;
  color: white;
  width: 90%;
}
.search__form button {
  all: unset;
}
.search__form button {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  cursor: pointer;
}

.profile_data {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.profile_data img {
  margin-bottom: 10px;
}
.profile_data h3 {
  font-size: 18px;
}

.edit-profile__form label {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;
}
.edit-profile__password a {
  text-decoration: underline;
}

section {
  display: flex;
  padding: 0 40px;
}

.watch-video {
  min-width: 70%;
  margin-right: 20px;
}

#videoContainer {
  position: relative;
}
#videoContainer video {
  width: 100%;
}
#videoContainer #videoControls {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
}
#videoContainer #videoControls.showing {
  opacity: 1;
}
#videoContainer #videoControls .videoControls__column {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
#videoContainer #videoControls .videoControls__column #timeline {
  width: 100%;
}
#videoContainer #videoControls .videoControls__column:last-child {
  padding: 10px 30px;
}
#videoContainer #videoControls .videoControls__column:last-child .videoControls__column--controls:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#videoContainer button {
  border: none;
  background: none;
  color: white;
  font-size: 1.5rem;
}
#videoContainer video,
#videoContainer button,
#videoContainer input {
  cursor: pointer;
}

.video_description {
  margin-top: 10px;
  line-height: 1.4;
}
.video_description .video_description__column:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
}
.video_description .video_description__column:first-child p {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.video_description .video_description__column:first-child small {
  font-size: 0.9rem;
  color: #aaaaaa;
}
.video_description .video_description__column:nth-child(2) {
  padding: 20px 0;
}
.video_description .video_description__column:nth-child(2) a {
  display: inline-flex;
  align-items: center;
}
.video_description .video_description__column:nth-child(2) .avatar {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.video_description .video_description__column:last-child {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.video_description .video_description__column:last-child .video__edit {
  color: seagreen;
}
.video_description .video_description__column:last-child .video__delete {
  color: #ff1300;
}

.watch-videos {
  flex-grow: 1;
}
.watch-videos li {
  margin-bottom: 20px;
}
.watch-videos li a {
  display: flex;
}
.watch-videos li a .video-tumbnail {
  min-width: 43%;
  width: 43%;
  background-color: blue;
  height: 100px;
}
.watch-videos li a .watch-video__info {
  padding: 5px;
}
.watch-videos li a .watch-video__info__column:first-child {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.watch-videos li a .watch-video__info__column:last-child {
  font-size: 0.8rem;
  color: #aaaaaa;
  line-height: 1.5;
}

.video__comments-wrapper {
  padding: 20px 0;
  color: #ffffff;
}
.video__comments-wrapper .video__comments--length {
  margin-bottom: 20px;
}
.video__comments-wrapper .video__comment-form {
  all: unset;
  display: flex;
}
.video__comments-wrapper .video__comment-form .video__comments--avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}
.video__comments-wrapper .video__comment-form .video__comment-form__column:last-child {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.video__comments-wrapper .video__comment-form .video__comment-form__column:last-child input {
  all: unset;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  transition: border 0.3s ease-in-out;
}
.video__comments-wrapper .video__comment-form .video__comment-form__column:last-child input:focus {
  border-bottom: 2px solid black;
}
.video__comments-wrapper .video__comment-form .video__comment-form__column:last-child button {
  border: none;
  color: #aaaaaa;
  background-color: #ffffff1a;
  border-radius: 2px;
  width: 70px;
  align-self: end;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.video__comments-wrapper .video__comment-wrapper {
  display: flex;
  margin-bottom: 20px;
}
.video__comments-wrapper .video__comment-wrapper .video__comments--avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}
.video__comments-wrapper .video__comment-wrapper .video__comment__column:nth-child(2) {
  flex-grow: 1;
}
.video__comments-wrapper .video__comment-wrapper .video__comment__column:nth-child(2) .video__comment-owner {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.video__comments-wrapper .video__comment-wrapper .video__comment__column:nth-child(2) .video__comment-owner div:first-child {
  margin-right: 5px;
}
.video__comments-wrapper .video__comment-wrapper .video__comment__column:nth-child(2) .video__comment-owner div:last-child {
  color: #aaaaaa;
  font-size: 0.8rem;
  line-height: 5px;
}
.video__comments-wrapper .video__comment-wrapper .video__comment__column:last-child {
  opacity: 0;
  display: flex;
  align-items: center;
}
.video__comments-wrapper .video__comment-wrapper:hover .video__comment__column:last-child {
  cursor: pointer;
  opacity: 1;
}
.video__comments-wrapper .video__comment-wrapper:hover .video__comment__column:last-child:hover {
  color: #ff1300;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #191919;
  color: white;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}
.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 100000px;
  text-align: center;
  animation: goAway 0.4s ease-in-out forwards;
  animation-delay: 5s;
}
.message.error {
  background-color: tomato;
  color: white;
}
